.apartments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apartmentsMin {
  display: none;
}

@media screen and (max-width: 767px) {
  .apartments {
    display: none;
  }
  .apartmentsMin {
    display: flex;
    margin: 15px 0 0 0;
  }
}

.apartmentsMin > input {
  width: 340px;
  height: 50px;
  background: url(./../images/Magnifier.svg) rgba(255, 255, 255, 0.3) no-repeat
    95% 15px;
  border-radius: 7px;
  border: none;
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .apartmentsMin > input {
    width: 310px;
  }
}

.apartments__headline {
  font-size: 13px;
  line-height: 13px;
  font-size: 13px;
  line-height: 13px;
  margin: 0 0 14px 0;
}

.apartments__room {
  display: grid;
  grid-template-columns: 90px 56px 56px 56px 56px;
  grid-gap: 0;
  width: 314px;
  height: 56px;
  cursor: pointer;
  border: none;
}

.apartments__room-studio {
  font-size: 16px;
  line-height: 16px;
  color: #171723;
  background: #ffffff;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  text-align: center;
  border: none;
}

.apartments__room-rooms {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background: rgba(255, 255, 255, 0.16);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.apartments__room-rooms:last-child {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.apartments__area {
  width: 135px;
  height: 56px;
}

.borderRadiusR {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.borderRadiusL {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

/**********************************/
.inputs-wraper {
  display: flex;
  flex-direction: column;
}

.apartments__residential-complex-block {
  width: 270px;
  height: 56px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 7px;
  padding: 0 15px 0 15px;
}

.apartments__residential-complex {
  display: flex;
  justify-content: space-between;
  width: 442px;
}

.apartments__residential-complex_more {
  display: flex;
  width: 127px;
  height: 56px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 7px;
  align-items: center;
}

.apartments__residential-complex_more > button {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 0.16);
  border: none;
  padding: 12px 19px 12px 19px;
  font-size: 13px;
  text-align: left;
}

.text {
  margin-left: 14px;
}

.apartments__residential-complex_button {
  width: 224px;
  height: 56px;
  background: #d90002;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

/***ползунок***************/
input[type="number"] {
  background: rgba(255, 255, 255, 0.16);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 16px;
  width: 135px;
  height: 56px;
  padding-left: 15px;
  box-sizing: border-box;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 135px;
  height: 3px;
  background: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(red, red);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
