.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.77fr 1fr 1fr;
  grid-gap: auto;
}

@media screen and (max-width: 1600px) {
  .header {
    grid-template-columns: 0.5fr 0.8fr 1fr;
  }
}

.header__contacts {
  color: #ffffff;
  cursor: pointer;
}

.header__contacts > img {
  display: none;
}

@media screen and (max-width: 1340px) {
  .header__contacts > img {
    display: flex;
    margin: 9px 0 0 auto;
  }
  .header__contacts > p {
    display: none;
  }
}

.header__contacts > p:nth-child(1n) {
  font-size: 20px;
  line-height: 23px;
}

.header__contacts > p:nth-child(2n) {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.5;
}

@media screen and (max-width: 1200px) {
  .header__contacts > p:nth-child(1n) {
    font-size: 16px;
  }
  .header__contacts > p:nth-child(2n) {
    font-size: 14px;
  }
}

.header__rangeBlock {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1340px) {
  .header__rangeBlock {
    margin: 15px 0 0 auto;
  }
}

.header__range {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 16px;
  line-height: 19px;
  width: 495px;
  cursor: pointer;
  height: 20px;
}

@media screen and (max-width: 1200px) {
  .header__range {
    font-size: 14px;
    width: 400px;
  }
}

@media screen and (max-width: 1340px) {
  .header__range {
    display: none;
  }
}

.header__range > li {
  width: auto;
}

.header__range > li:hover {
  transform: rotateX(360deg);
  opacity: 0.5;
}

.header__vector {
  width: 48px;
  height: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__vector {
    width: 38px;
  }
}

.button {
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  position: relative;
  visibility: hidden;
  width: 100%;
}
.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(title);
  display: block;
  visibility: visible;
  flex-shrink: 0;
}
.button::before {
  transform: translateY(0) rotateX(0);
}
.button::after {
  opacity: 0.5;
  transform: translateY(50%) rotateX(-90deg);
}
.button:hover::before {
  transform: translateY(-50%) rotateX(90deg);
  transition: all 0.2s ease-in-out;
}
.button:hover::after {
  transform: translateY(0) rotateX(0);
  transition: all 0.2s ease-in-out;
}
