@import "./header.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.video-bg video {
  width: 100%;
  height: auto;
  position: absolute;
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
}
