@import "./header.css";
@import "./main.css";
@import "./apartments.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background: burlywood;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.video-bg video {
  width: 100%;
  position: absolute;
}

.domRf-big {
  position: absolute;
  top: 215px;
}

.domRf-small {
  display: none;
}

@media screen and (max-width: 1440px) {
  .domRf-big {
    top: 160px;
  }
}

@media screen and (max-width: 1200px) {
  .domRf-big {
    top: 135px;
  }
}

@media screen and (max-width: 1024px) {
  .domRf-big {
    display: none;
  }
  .domRf-small {
    display: flex;
    position: absolute;
    top: 135px;
  }
}

@media screen and (max-width: 768px) {
  .domRf-small {
    top: 125px;
  }
}

@media screen and (max-width: 767px) {
  .domRf-small {
    top: 326px;
    right: 0;
  }
}

@media screen and (max-width: 571px) {
  .domRf-small {
    top: 340px;
  }
}

@media screen and (max-width: 394px) {
  .domRf-small {
    top: 370px;
  }
}

.wrapper {
  max-width: 1680px;
  padding: 42px 40px 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 20px 20px 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px 10px 0 10px;
  }
}

.core-Sans-C-400 {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.core-Sans-C-400w {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  color: black;
}

.core-Sans-C-400Medium {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}

.hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
