@import "./header.css";
@import "./main.css";
@import "./apartments.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.wrapToVideo {
  z-index: 1;
  color: #fefefe;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.domRf-big {
  position: absolute;
  top: 215px;
}

.domRf-small {
  display: none;
}

@media screen and (max-width: 1440px) {
  .domRf-big {
    top: 160px;
  }
}

@media screen and (max-width: 1200px) {
  .domRf-big {
    top: 135px;
  }
}

@media screen and (max-width: 1024px) {
  .domRf-big {
    display: none;
  }
  .domRf-small {
    display: flex;
    position: absolute;
    top: 135px;
  }
}

@media screen and (max-width: 768px) {
  .domRf-small {
    top: 125px;
  }
}

@media screen and (max-width: 767px) {
  .domRf-small {
    top: 326px;
    right: 0;
  }
}

@media screen and (max-width: 571px) {
  .domRf-small {
    top: 340px;
  }
}

@media screen and (max-width: 394px) {
  .domRf-small {
    top: 370px;
  }
}

.wrapper {
  max-width: 1680px;
  padding: 42px 40px 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 20px 20px 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px 10px 0 10px;
  }
}

.core-Sans-C-400 {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.core-Sans-C-400w {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 400;
  color: black;
}

.core-Sans-C-400Medium {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}

.hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

button {
  cursor: pointer;
}

.position {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-bottom: 42px;
}

@media screen and (max-width: 425px) {
  .position {
    padding-bottom: 20px;
  }
}

/****************************/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
